<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../css/searchPage.css">
	<title>Search School</title>

</head>

<body>

<form id="searchForm">
	<input id="search" type="text" placeholder="Search term">

	<button type="submit">Search</button>
</form>


<div id="searchResult"></div>


<!--	 <div class="search_school" >-->
<!--		 <ul >-->
<!--			 <li th:each="school, iterStat: ${schools}" class="json__object" th:if="${iterStat.index < 3}">-->
<!--				 <p th:text="'ID: ' + ${school.get('official_id')}"></p>-->
<!--				 <p th:text="'Name: ' + ${school.get('name')}"></p>-->
<!--				 <p th:text="'Address: ' + ${school.get('address')}"></p>-->
<!--				 <p th:text="'School type: ' + ${school.get('school_type')}"></p>-->
<!--				 <p th:text="'State: ' + ${school.get('state')}"></p>-->
<!--			 </li>-->
<!--		 </ul>-->

<!--	 </div>-->


	
	<script src="../../js/Bibliothek/jquery-3.7.1.min.js"></script>
	<script src="../../js/searchScoolSeite/searchSchool.js"></script>
	<noscript>You need to enable JavaScript to run this app.</noscript>
<!--	<script src="../../static/js/Bibliothek/jquery-3.7.1.min.js"></script>     For vs code -->
<!--	<script src="../../static/js/searchScoolSeite/searchSchoolSeite.js"></script> -->
</body>

</html>