<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="data:;base64,iVBORwOKGO=" />
	<link rel="stylesheet" type="text/css" href="../../css/searchPage.css">
	<!-- <link rel="stylesheet" type="text/css" href="../../static/css/searchPage.css"> -->
	<title>Search School</title>

</head>

<body>

<form id="searchForm" th:action="@{/login/search}" th:object="${searchSchoolRequest}" method="post">
	<input id="searchSchool" type="text" placeholder="Search term" th:field="*{name}" >
	<input type="submit" value="Search" >
</form>






<div id="searchResult" class="search_school">
	<ul>
		<li th:each="school, iterStat : ${schools}" th:if="${iterStat.index} lt 5" th:text="${school}"  class="json__object">
			<p th:text="'ID: ' + ${school.get('id')}"></p>
			<p th:text="'Name: ' + ${school.get('name')}"></p>
		</li>

	</ul>
</div>


	
	<script src="../../js/Bibliothek/jquery-3.7.1.min.js"></script>
	<script src="../../js/searchScoolSeite/searchSchool.js"></script>
	
	<noscript>You need to enable JavaScript to run this app.</noscript>

	
<!--	<script src="../../static/js/Bibliothek/jquery-3.7.1.min.js"></script>     For vs code -->
<!--	<script src="../../static/js/searchScoolSeite/searchSchool.js"></script> -->
</body>

</html>