@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700,300italic);


body {
	height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

main {
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
	
}

[data-bs-theme=dark] .send_post_elements_icons path {
	fill: white;
}



.main__container{
	width: 100%;
	height: 100%;
	background-color:rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;

	overflow-x: hidden;
}


.main__posts__container{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 60px;
	background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}



.send_post_container{
	width: 100%;
	min-height: 130px;
	max-height: auto;
	display: flex;
	justify-content: center;
	
	background-color:rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
	
}

.send_post_block {
	width: 70%;
	min-height: 100%;
	max-height: auto;
	display: flex;
	flex-wrap: nowrap;
	margin: auto;
	background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
	border: 2px solid #0084b4;
	border-radius: 15px;
	
	
}


.send_post_avatar_side {
	width: 10%;
	height:auto;
	

	display: flex;
	justify-content: left;
	background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.send_post_avatar_side img{
	width: 65px;
	height: 65px;
	padding: 5px;
	border-radius: 50%;
	position: relative;
	margin: auto;
	top: -30px;
	
}

.send_post_block_message{
	width: 90%;
	
}

.send_post_meassage {
	width: 100%;
	min-height: 85px;
	max-height:auto ;
	/* position: relative;
	top: -130px;
	left: 10%; */


	background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;

	padding: 5px;
}




#send_post_meassageInput {
	width: 100% ; 
	height:auto;
	min-height: 60px;
	text-align: left;
	

	
	border-radius: 8px;
	border: 1px solid #ddd;
	padding: 0.5rem;
	
	box-shadow: inset 0 0 0.25rem #ddd;
	overflow-y: hidden;
	resize: none;

	&:focus {
		outline: none;
		border: 1px solid darken(#ddd, 5%);
		box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
	}
	&[placeholder] { 
		font-style: italic;
		font-size: 0.875rem;
	}


}

#the-count {
	display: flex;
	justify-content: right;
	padding: 0;
	height: 20px;
	font-size: 0.875rem;
 }

.send_post_elements {
	width: 100%;
	height: 50px;

	/* position: relative;
	top: -130px;
	left: 10%; */
	display: flex;
	justify-content: space-between;
	background-color: rgba(var(--bs-tertiary-rgb), var(--bs-bg-opacity)) !important;
	

	padding: 5px;
}

.send_post_elements_icons{
	display: flex;
	justify-content: left;
}


.send_post_elements_img {
	z-index: 3;
	padding: 8px;
	cursor: pointer;
}
.send_post_elements_img:hover {
	z-index: 0;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.1);
}
.send_post_elements_gif {
	padding: 8px;
	cursor: pointer;
}

.send_post_elements_gif:hover {
	z-index: 0;
	border-radius: 25px;
	background-color:  rgba(255, 255, 255, 0.1);
}
.send_post_elements_smile {
	padding: 8px;
	cursor: pointer;
}

.send_post_elements_smile:hover {
	z-index: 0;
	border-radius: 25px;
	background-color:  rgba(255, 255, 255, 0.1);
}






.send_post_elements_block{
	
	display: flex;
	justify-content: right;
	
}



.send_post_elements_images img{
	min-width:300px ;
	max-width: 70%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5px;
}



.post__box{
	width: 850px;
	height: auto;
	border-radius: 20px;
	
	margin: 5px;
	padding: 15px;
	margin-bottom: 10px;
	border: 2px solid #0084b4;
	
}


.post__header__container{
	width: 100%;
	display: flex;

	flex-direction: row;
}

.post__nickname{
	position: relative;

	align-content: center;
	margin-left: 10px;
}


.post__fotos img{
	width: 650px;
	
}

.post__text{
	padding-top: 10px;
	padding-bottom: 10px;
}

.post__ellipses{
	width: 100%;
	display: flex;
	justify-content: right;

	padding: 5px;
}

.post__ellipses img{
	width: 35px;
}



.post__time{
	padding-top: 5px;
	padding-bottom:5px;
}






.under__posts__elements{
	width: 100%;
	display: flex;
	
	border-radius:15px ;
	background-color: #ffffff;

}

.under__posts__elements .nav-link:hover {
	transform: scale(1.05);

}



.dropdown-toggle {
	outline: 0;
}

.btn-toggle {
	padding: .25rem .5rem;
	font-weight: 600;
	color: var(--bs-emphasis-color);
	background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
	color: rgba(var(--bs-emphasis-color-rgb), .85);
	background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform .35s ease;
	transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
	color: rgba(var(--bs-emphasis-color-rgb), .85);
}

.btn-toggle[aria-expanded="true"]::before {
	transform: rotate(90deg);
}

.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
	z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
}