
*{
	margin: 0;
	padding: 0;

}

body{
	--color-primary:#009579;
	--color-primary-dark:#b0f8ff;
	--color-secondary:#284492;
	--color-error:#cc3333;
	--color-success:#4bb544;


	background-color: #9ED6F5;
	

}

/*Header*/
/*--------------------------------------------*/
.header-text{
	text-align: center;

	margin-top: 2%;

	margin-bottom: 5%;
	padding: 5px;

}



.header-text h2{
	color: wheat;
	font-size: 40px;
	margin-bottom: 1rem;
}



/*---------------------------------------------*/



/*Main*/
/*--------------------------------------------*/


.main-page{
	width: 100%;
	height: auto;

}



.main{
	width: 100%;
	height: auto;
}

/*--------------------------------------------*/


.form--hidden{
	display: none;
	
}

.reg-form{
	position: absolute;

	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 1rem;

	border-radius: 4px;

	width: 320px;
	min-height:400px ;

	height: auto;

	background-color: #FDB993;
}


.reg-form h2{
	font-style: italic ;
	font-size: 25px;
	text-align: center;
	padding: 5px;
	
}

.school__name{
    width:auto;
    height:45px;
    overflow:hidden;
    text-align:center;
    padding:5px;
    font-size:20px;
    font-family:"Fredoka", sans-serif;
    font-weight:500;
}


.register-form {
	margin-top: 20px;
	

}

.reg-form,
.register-form{
	font: 500 1rem 'Quicksand', sans-serif;
	outline:0;
}


/*--------------------------------------------*/


.form__message{
	padding: 5px;
	outline:0;


}


.form__message--success{
	color: var(--color-success);
}

.form__message--error{
	color: var(--color-error);
}

.form__input{
	width: 300px;

	color: black;
	padding: 0.75rem;

	border-radius: 4px;
	border: none;

	box-sizing: border-box;
	border: 2px #070606 solid;

	transition: background 0.2s ,border-color 0.2s;
	background: #ffd0ae;

	
}

.form__input:focus{
	
	background: #ffffff;
	border: 2px var(--color-primary) solid;

}

.form__input--error{
	color: var(--color-error);
	border: 2px var(--color-error) solid;
}


.form__input-error-message{
	margin-top: 0.5rem;

	font-size: 0.85rem;
	
	color: var(--color-error);
}


/*--------------------------------------------*/

#schoolId{
    display:none ;
    visibility:hidden;
}

/*--------------------------------------------*/


.user-nickname {

	margin-bottom: 1rem;
	padding: 5px;
	
	
	
}



#username{
	

	font-style: italic;
	font-size: 20px;


}

#username:focus {
	outline:0;
	
}


/*--------------------------------------------*/

.user-email {
	margin-bottom: 1rem;
	padding: 5px;
}

#email{
	
	

	font-size: 20px;

}
#email:focus{
	outline:0;
	
}

::selection{
	background: #FDB993;
 }

/*--------------------------------------------*/

.user-password {
	margin-bottom: 1rem;
	padding: 5px;

}

#password{

	
	font-size: 20px;


}

#password:focus{
	outline:0;
	
}

::selection{
	background: #FDB993;
 }
/*--------------------------------------------*/

.user-confirm-password {
	margin-bottom: 1rem;
	padding: 5px;
}

#confirm-password{

	font-size: 20px;

}

#confirm-password:focus{
	outline:0;
	
}
::selection{
	background: #FDB993;
 }

 /*--------------------------------------------*/
.reg-submit {
	position: relative;
	margin-bottom: 20px;
	padding: 5px;

	
}

#reg-form-submit {
	width: 70%;
	padding: 1rem 2rem;

	
	background: #E9DFDF;
	margin-left: 15%;

	border: none;

	border-radius:50px ;
	
	font-style: italic;
	font-size: 18px;

	cursor:pointer;
	
}

#reg-form-submit:hover{
	background: var(--color-primary-dark);
}

#reg-form-submit:active{
	transform: scale(0.98);
}



/*---------------------------------------------*/


/*Footer*/
/*--------------------------------------------*/
.footer-text {
	padding: 5px;
	text-align: center;
	font-family: 'Roboto' ,sans-serif 300;
	font-size: 15px;
	color: #837777;

}

.footer-text a{
	text-decoration: none;
	cursor: pointer;
	color: var(--color-secondary);
}


.footer-text a:hover{
	text-decoration: underline;
}




/*---------------------------------------------*/

@media  screen and  (min-width: 200px) and (max-width:357px) {
	.main-page hr{
		width: 230px;
		
	
	}

	.reg-form{
		width: 250px;
		padding: 10px;
		margin-top: 10px;
	}

	.form__input{
		width: 280px;
	}


	#username,#confirm-password,#password,#email{
		width: 230px;
	}


	.reg-submit {
		
		margin-bottom: 10px;
	
	
		
	}

	#reg-form-submit{
		margin-left: 35px;
	}
	
}

 @media  screen and  (min-width: 350px) and (max-width:450px) {
	.reg-form{
		
		margin-top: 15px;
	}

}

@media  screen and  (min-width: 765px) and (max-width:830px) {
    .reg-form{
        top:54%;
    }
	.reg-submit{
	    margin-bottom:2px;
	}
	
}


