<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="../../css/login.css">
	<!-- <link rel="stylesheet" type="text/css" href="../../static/css/login.css"> -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

	<title>Login Page</title>
</head>

<body>

	<div class="main-page">
		<div class="main">
			<div class="header-text">
				<h2 class="header-title">School Chat</h2>
			</div>





			<div class="login-form-page">
				<h2 class="form-title">Login</h2>



				<form method="post" action="/login"  th:action="@{/login}" th:object="${loginRequest}"  class="login-form">

					<div class="user-nickname">
						<input type="text" id="NickName" th:field="*{login}" placeholder="Your nickname" required>
						<hr>

					</div>



					<div class="user-password">
						<input type="password" id="Password" placeholder="Password" th:field="*{password}" >
<!--						pattern=pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"-->
						<hr>
					</div>





					<div class="login-submit">
						<input type="submit" value="Login" id="login-form-submit">

					</div>



				</form>

				<div class="footer-text">
					<p>Haven't an Account? <a href="/">Sing Up Here</a> </p>
				</div>

			</div>

		</div>
	</div>



	<noscript>You need to enable JavaScript to run this app.</noscript>
</body>

</html>