<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="../../css/login.css">
	<!--<link rel="stylesheet" type="text/css" href="../../css/login.css">  for java-->
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/login.css">  for vs code-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

	<title>Login Page</title>
</head>

<body>

	<div class="main-page">
		<div class="main">
			<div class="header-text">
				<h2 class="header-title">School Chat</h2>
			</div>


			<div class="login-form-page ">




				<form method="post" action="/login" th:action="@{/login}" th:object="${loginRequest}" class="login-form "
					id="login">

					<h2 class="form-title">Login</h2>

					<div class="form__message "></div>

					<div class="user-nickname">
						<input type="text" id="username" th:field="*{login}" autofocus placeholder="Your nickname"
							class="form__input " required>

						<div class="form__input-error-message "></div>

					</div>



					<div class="user-password">
						<input type="password" id="password" autofocus placeholder="Password" th:field="*{password}"
							class="form__input " required>
						<!--						pattern=pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"-->
						<div class="form__input-error-message "></div>

					</div>





					<div class="login-submit">
						<input type="submit" value="Login" id="login-form-submit">

					</div>



					<div class="footer-text">
						<p>Haven't an Account? <a href="/">Sing Up Here</a> </p>
						<!--<p>Haven't an Account? <a href="/">Sing Up Here</a> </p>    for java-->
						<!-- <p>Haven't an Account? <a href="../templates/singUp.html">Sing Up Here</a> </p>   for vs code -->

					</div>
				</form>



			</div><!-- /login-form-page-->

		</div><!-- /main-->
	</div><!-- /main-page-->


	<script src="../static/js/validationRegPage/validationRegLoginPage.js"></script>
	<!-- <script src="../static/js/validationRegPage/validationRegLoginPage.js"></script>   for vs code-->
	<!-- <script src="../../js/validationRegPage/validationRegLoginPage.js"></script>   for java-->
	<noscript>You need to enable JavaScript to run this app.</noscript>
</body>

</html>