<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<title>Register Page</title>
	<link rel="stylesheet" type="text/css" href="../../css/singUP.css">
	<!-- <link rel="stylesheet" type="text/css" href="../../static/css/singUP.css"> -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>

<div class="main-page">
	<div class="main">
		<div class="header-text">
			<h2 class="header-title">School Chat</h2>
		</div>


		<div class="reg-form">
			<h2 class="form-title">Register</h2>


			<form method="post" action="/" th:action="@{/}" th:object="${registerRequest}"  class="register-form">

				<div class="user-nickname">
					<input type="text" id="login"  th:field="*{login}" placeholder="Your nickname" required>
					<hr>

				</div>


				<div class="user-email">

					<input type="email" id="email"  th:field="*{email}" placeholder="Email" required>
					<hr>
				</div>

				<div class="user-password">
					<input type="password" id="password"  th:field="*{password}" placeholder="Password"
						   pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
					<hr>
				</div>

				<div class="user-confirm-password">
					<input type="password" id="confirm-password" placeholder="Confirm Password">
					<!--pattern=pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"-->
					<hr>
				</div>


				<div class="reg-submit">
					<input type="submit" value="Register" id="reg-form-submit">

				</div>


			</form>

			<div class="footer-text">
				<p>Have an Account? <a href="/login">Login Here</a></p>
				<!-- <p>Have an Account? <a href="../templates/Login.html">Login Here</a> </p> -->
			</div>

		</div>

	</div>
</div>


<noscript>You need to enable JavaScript to run this app.</noscript>
</body>

</html>