<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Register Page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/singUP.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>

	<div class="main-page">
		<div class="main">
			<div class="header-text">
				<h2 class="header-title">School Chat</h2>
			</div>





			<div class="reg-form">
				<h2 class="form-title">Register</h2>



				<form method="" action="" class="register-form">

					<div class="user-nickname">
						<input type="text" id="NickName" placeholder="Your nickname">
						<hr>

					</div>


					<div class="user-email">

						<input type="emai" id="Email" placeholder="Email">
						<hr>
					</div>

					<div class="user-password">
						<input type="password" id="Password" placeholder="Password">
						<hr>
					</div>

					<div class="user-confirm-password">
						<input type="password" id="Confirm-Password" placeholder="Confirm Password">
						<hr>
					</div>



					<div class="reg-submit">
						<input type="submit" value="Register" id="reg-form-submit">

					</div>



				</form>

				<div class="footer-text">
					<p>Have an Account? <a href="../templates/Login.html">Login Here</a> </p>
				</div>

			</div>

		</div>
	</div>



	<noscript>You need to enable JavaScript to run this app.</noscript>
</body>

</html>